@font-face{
  font-family: CrimsonText;
  src: url("../src/assets/fonts/CrimsonText-Regular.ttf");
}

@import "tailwindcss";

@theme{
  --font-crimpson: CrimsonText, "sans-serif"
}

@layer base {
  body {
    @apply font-crimpson;
  }
}